body {
  background: linear-gradient(135deg, #e6ca98, #d1ffc5);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

#skCanvas {
  border: 1px solid black;
  border-radius: 12px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.horizontalDiv {
  display: flex;
  gap: 8px;
  margin: 12px 0;
  flex-wrap: wrap;
}

#sticker-pallete {
  display: flex;
  gap: 8px;
  margin: 12px 0;
  flex-wrap: wrap;
}

.sticker-button {
  margin: 0 5px;
  padding: 8px 12px;
  font-family: inherit;
  border: 2px solid #888;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.2s;
}

.sticker-button.selected {
  outline: 2px solid #31492e;
  background: #a0c79b;
  transform: scale(1.1);
  transition: all 0.1s ease;
}

.sticker-button:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-1px);
}

.selected {
  background-color: #a0c79b;
  color: white;
}

.control-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#control-panel button {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 16px auto;
  padding: 8px 12px;
  font-family: inherit;
  border: 2px solid #888;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.2s;
}

.action-button,
.tool-button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
  padding: 8px 10px;
  border: 2px solid #c0ad89;
  border-radius: 8px;
  background: white;
  color: #3f5037;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-button:hover,
.tool-button:hover {
  background: #deebda;
  border-color: #c0ad89;
  transform: translateY(-1px);
}

.action-button:active,
.tool-button:active {
  transform: translateY(1px);
  background: #eee;
}

.tool-button.selected {
  background: #b2cca8;
  border-color: #856b49;
  font-weight: bold;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(50, 55, 60, 0.1);
}
